<header>
  <div class="headerfont">
  <ul class="flex-row">
    <div class="flex-row">


      <li class="brand brand_btn">
        <a href="/" class="header-link">Quiz Wizard</a>
      </li>

      <li class="create_btn"></li>
      <a href="/createquiz" class="header-link">Create a Quiz</a>
      </li>

      <li class="myQuiz_btn"></li>
        <a href="/myquiz" class="header-link">My Quizes</a>

      <li class="pastQuiz_btn">Past Quiz Attempts</li>
    </div>
    <div class="flex-row">
      <li class="logout_btn" id="logout">Logout</li>
    </div>
    </div>
  </ul>
</header>
