<!DOCTYPE html>
<html lang="en">

<head>

  <title>Quiz Wizard</title>
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/myquiz.css" type="text/css" />
  <link rel="stylesheet" href="/styles/question.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <%- include('partials/header') %>
</head>


<body>

  <div class="main-container">
    <div id="create-quiz-cont">

      <h1>Create Your Quiz!</h1>

      <label for="name">Quiz Title:</label>
        <input class="input" id="quiz-title" type="text" name="name">
        <br>
        <label for="description"> Quiz Description:</label>
        <input class="input"id="quiz-description" type="text" name="description">
        <br>
        <div class="privacy">
          <input class="input" id="is-private" type="radio" name="isPrivate" value="true"> Private</input>
          <input class ="input" id="is-public" type="radio" name="isPrivate" value="false"> Public</input>
          <br>
        </div>
        <a href="http://localhost:8080/questions" >


        <button type="submit"> Create Questions! </button>
        </a>
      </form>
    </div>

</body>

</html>
