<!DOCTYPE html>
<html lang="en">

<head>

  <title>Quiz Wizard</title>
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/myquiz.css" type="text/css" />
  <link rel="stylesheet" href="/styles/question.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
    <%- include('partials/header') %>

</head>

<h4> My Quizzes</h4>



<body>
  <div class="privatequiz-container">
    <div class="fillbox-container">
      <a href="http://localhost:8080/takequiz" >
      <div class="fillbox"> 1
        <button> Take quiz </button>
        </a>

        <button> Share Quiz With Friends!</button>
        <button> View Recent Attempt</button>
      </div>
      <div class="fillbox"> 2
        <button> Take quiz </button>
        <button> Share Quiz With Friends!</button>
        <button> View Recent Attempt</button>
      </div>
      <div class="fillbox">3
        <button> Take quiz </button>
        <button> Share Quiz With Friends!</button>
        <button> View Recent Attempt</button>
      </div>

    </div>
    <div class="fillbox-container2">
      <div class="fillbox"> 4
        <button> Take quiz </button>
        <button> Share Quiz With Friends!</button>
        <button> View Recent Attempt</button>
      </div>
      <div class="fillbox"> 5
        <button> Take quiz </button>
        <button> Share Quiz With Friends!</button>
        <button> View Recent Attempt</button>
      </div>
      <div class="fillbox"> 6
        <button> Take quiz </button>
        <button> Share Quiz With Friends!</button>
        <button> View Recent Attempt</button>
      </div>
    </div>


</body>


</html>
