<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz Wizard</title>
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/myquiz.css" type="text/css" />
  <link rel="stylesheet" href="/styles/question.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
    <%- include('partials/header') %>
  </head>
  <body>


            <div class= "resultsmain">
              <b>Here are your results for </b>
            </div>
            <div class= "resultsmain2">
                You scored: <b>   5/5 </b>
            </div>

        </div>
    </div>





  </body>
</html>

