
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(245, 252, 102);
  color: black;
  height: 8vh;
  z-index: 1;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:rgb(14, 136, 211);
}



.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  height: 100%;
}


 .header-link {
  color: black;
  margin: auto;
}


li {
  list-style: none;
  margin: 0 16px;
  cursor: pointer;
}
.brand {
  font-size: 1.7em;
}
.logout_btn {
  padding-right: 40px;
  margin-right: 0;
}


