.main_image{
  border-radius: 50%;
}

.body
{margin: 0;
display: flex;
justify-content: center;
align-items: center;
}

#create-quiz-cont  {
  margin-top: 10px;
  background-color: #5ac3ed;
  width: 100%;
  min-height: 650px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  color: rgb(255, 255, 255);

}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-weight: bold;
}
  .input {
    width: 90%;
    margin: 20px;
    border-radius: 3px;
    padding: 10px;
    border-radius: 10px;
  }

.privacy {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;


input {
  margin: 0px;
  padding: 0px;
  width: 5%;
  justify-content: space-evenly;
}
}

button {
  color: #000000;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
  margin: 20px;
}
button:hover {
  color:whitesmoke;
  background-color:#5ac3ed;
  border: 2px solid whitesmoke
}

body {
  counter-reset: section;                   /* Set the section counter to 0 */
}
.value::after {
  counter-increment: section;               /* Increment the section counter*/
  content:  counter(section) " "; /* Display the counter */
}
.value {
  font-family: "Bangers", sans-serif;
  margin-left: 7px;
  font-size: 30px;
  border-color: solid 5px;
  color: #5dd8ebf3;
}

