

.privatequiz-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1000px;
}

.fillbox-container2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
  margin-right: 10px
}
h4{
  display: flex;
  color: black;
  font-family: fantasy;
  font-size: 40px;
  margin-top: 80px;
  position: relative;
  bottom: 90px
}
button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 150px
}

// .wizard-container2{
//   display: flex;
//   flex-direction: row;
//   margin-top: 300px;
//   margin-bottom: 60px;
//   position: relative;
//    left:80px;


// }
// .page-headerrr{
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   position: relative;
//   top: 150px;
//   position: relative;
//    right:-1500px;
//    up: 500px;
// }

.wizard-container2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top:200px;
  margin-bottom: 40px;
  margin-right: 10px;
  width: 2000px;
  height: 120px;
}




.bubble2{

  position: relative;
  background: #5ac3ed;
  color: #FFFFFF;
  font-family: Georgia;
  font-size: 22px;
  text-align: center;
  width: 200px;
  height: 145px;
  border-radius: 17px;
  padding: 15px;
  position: relative;
   left:-150px;
}

.bubble2:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: transparent #5ac3ed;
  border-width: 22px 28px 22px 0;
  top: 50%;
  left: -28px;
  margin-top: -22px;
}

// .quiz_headdisplay {

// flex-direction: row;
// justify-content: space-around;
// align-items: center;
// margin-top: 400px;
// margin-right: 1000px;
// width: 2000px;
// height: 122000px;
// }


.main_button {
  padding-top: 25px;
  margin-bottom: 65px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.mainpage_quizbutton {
  border: none;
  border-radius: 3px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 120px;
  height: 40px;
  background-color: #5dd8ebf3;
}
.mainpage_quizbutton:hover {
  box-shadow: 1px 3px #d6d5d5;
  border: solid 1px #8a8a8a;
  border-radius: 3px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 120px;
  height: 40px;
  background-color: #5dd8ebf3;
}
/* Main image */
// .main_image {
//   padding-top: 40px;
//   padding-bottom: 23px;
//   width: 320px;
//   margin-left: auto;
//   margin-right: auto;

/* Main page */
.quiz_questions {
  border: solid 1px;
  border-color: rgb(206, 206, 206);
  width: 900px;
  margin-top: 210px;
  margin-bottom: 200px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  background-color: #5ac3ed;
}
.quiz_body {
  margin-right: 2em;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
}
.quiz_head {
  margin-right: 2em;
  margin-bottom: -10px;
  display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}
.quiz_head li {
  font-size: 18px;
  padding-right: 191px;
}
.quiz_questions li {
  font-size: 18px;
  list-style: none;
  margin: 10px 10px;
}
.radio_button button{
  list-style: none;
  border: none;
  border-radius: 3px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 120px;
  height: 40px;
  background-color: green;
  font-size: 18px;
  list-style: none;
  margin: 10px 10px;
}
.radio_button button:hover {
  box-shadow: 1px 3px #d6d5d5;
  border: solid 1px #8a8a8a;
  border-radius: 3px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 120px;
  height: 40px;
  background-color: green;
  font-size: 18px;
  list-style: none;
  margin: 10px 10px;
}
.radio_button1 button{
  list-style: none;
  border: none;
  border-radius: 3px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 120px;
  height: 40px;
  background-color: Red;
  font-size: 18px;
  list-style: none;
  margin: 10px 10px;
}
.radio_button1 button:hover {
  box-shadow: 1px 3px #d6d5d5;
  border: solid 1px #8a8a8a;
  border-radius: 3px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 120px;
  height: 40px;
  background-color: Red;
  font-size: 18px;
  list-style: none;
  margin: 10px 10px;
}
.article_button {
  list-style: none;
  border: none;
  border-radius: 3px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 120px;
  height: 40px;
  background-color: #5dd8ebf3;
  font-size: 18px;
  list-style: none;
  margin: 10px 10px;
}
.article_button:hover {
  box-shadow: 1px 3px #d6d5d5;
  border: solid 1px #8a8a8a;
  border-radius: 3px;
  color: black;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  width: 120px;
  height: 40px;
  background-color: #5dd8ebf3;
  font-size: 18px;
  list-style: none;
  margin: 10px 10px;
}
/* Main page body */
.mainbody {
  display: flex;
  flex-direction: column;
  margin: 100px 100px;
}
.quiz_list {
  display: flex;
  flex-direction: column;
}
